.statistics {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

.statList {
  display: flex;
}

.item {
  width: 75px;
  height: 75px;
  text-align: center;
  padding-top: 14px;
  background-color: rgb(173, 216, 230);
}

.label {
  display: block;
  margin-bottom: 14px;
}
